<!DOCTYPE html>
<html>
<head>
  <title>GotFixed</title>
  <%= stylesheet_link_tag    "got_fixed/application", :media => "all" %>
  <%= javascript_include_tag "got_fixed/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
